
img{
    min-width: 100%;
    display: block;
    box-shadow: 0 0 3px 2px rgb(126, 126, 126);
    transition: 0.34s ease;
}

img:hover{
    transform: scale(1.04);
}

/* input:focus-within{
    box-shadow: 0 0 2px 2px black;
} */

.img-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,0.4fr));
    margin: 10px auto;
    gap: 20px;
    place-content: center;
}